

<!--  footer design  -->
    <div th:fragment="navbar">
    <footer class="footer">
        <div class="footer-container">
            <!-- Logo & About -->
            <div class="footer-section about">
                <img th:src="@{/images/LogoB1C.png}" alt="Logo" class="footerlogo">
                <p>Bhopal is known as the "city of lakes" because of its many natural and artificial lakes, 
                    including Bhojtal, the largest man-made lake in India.</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/ITWallah6/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/it_wallah6/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://youtube.com/@it_wallah?si=5gyImn6xkppkE7cd" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://twitter.com/ITWallah6"><i class="fab fa-twitter" target="_blank"></i></a>
                <a href="https://www.linkedin.com/in/er-manish-kumar695179" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>

            <!-- Services -->
            <div class="footer-section services">
                <h2>Information</h2>
                <ul>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Safety</a></li>
                    <li><a href="#">Managements</a></li>
                </ul>
            </div>

            <!-- Important Links -->
            <div class="footer-section links">
                <h2>Links</h2>
                <ul>
                    <li><a href="#">About Bhopal</a></li>
                    <li><a href="#">Muncipal Corporation </a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="footer-section contact">
                <h2>Get In Touch</h2>
                <p><i class="fas fa-map-marker-alt"></i> Bhopal, MP, India</p>
                <p><i class="fas fa-phone"></i> +91-8770774911</p>
                <p><i class="fas fa-envelope"></i> 0112ca231068@gmail.com</p>
                
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2025 Bhopal 1Click. All Rights Reserved.</p>
        </div>
    </footer>
    
    </div>