
<div th:fragment="topnavbar">
    <div class="navbar1">
        <img th:src="@{/images/LogoB1C.png}" alt="Logo" class="logo1">
        <span class="logo-text">Bhopal 1Click</span>
        
        <!-- Search Bar -->
        <div class="search-bar1">
            <input type="text" id="searchBox" placeholder="Search..."  >
             <button onclick="filterText()"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
        <img th:src="@{/images/LogoMuncipal.png}" alt="Right Logo" class="logo1">
         <span class="logo-text">Bhopal Municipal Corporation</span>
    </div>
    </div>
    

    